<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Machine</title>
    <script src="/static/js.cookie.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="/static/jquery-1.12.4.min.js"></script></head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class='MainContainer'>
        <h1>Based On Tornado Framework</h1>
        <div id ='clock'></div>
            <button id = 'butt' class="button-64" role="button"><span class="text">Start Chat</span></button>
        <img class='img-background' src='/static/img/back.jpeg'>
    </div>
</body>

<script src='/static/js/clock.js' ></script>

</script>

</html>