/* 英语文字换行不齐，字体使用本地包 */
body{
    margin: 0%;
    overflow: hidden;
}
* {
    -webkit-text-size-adjust: none;
}
.background{
    width: 100%;
    height: 100%;
}
#back{
    position: fixed;
    height: 6%;
    top: 1%;
    left: 2%;
    background-color: Transparent;
    border: none;
    color:white;
    transform: scaleX(0.5);
    transform: scaleY(1);
    font-size: 15px;
    font-weight: 600;
    transform-origin: 0 0;
    box-shadow: none;
    font-family: Verdana, Geneva, sans-serif;
}
#title{
    position:fixed;
    margin:0%;
    width: 100%;
    /* height: 80px; */
    /* line-height: 80px; */
    /* text-align: center; */
    background-color: rgb(36, 34, 34);
    /* font-size: 50px; */
    color: white;
    height: 8%;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
#pop_up{
    position: fixed;
    padding: 10px;
    width: 150px;
    left: 85%;
    margin-left: -150px;
    height: 50px;
    line-height: 50px;
    top: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 4px;
    opacity: 0.5;
    
    text-align: center;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.3 );
}
#limit{
    position: fixed;
    height: 100px;
    width: 80px;
    z-index: 20;
    margin-left: -150px;
    left: 65%;
    top: 33%;
    margin-top: -100px;
}
#msg{
	position: fixed;
	width: 100%;
	top: 8%;
	bottom:10%;
    background-color: black;
    background-image: url("/static/img/983281.jpg");
    background-size: cover;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.footer{
    height: 10%;
    position:fixed;
    /* height: 100px; */
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color:rgb(44, 42, 42);
}
.add_img{
    margin-left: 3%;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(148, 200, 243);
    font-weight: 700;
    border-width: 0px;
}
/*--------------------------------------------------------------------------------
*/
 a {
    color: inherit;
 }

 .menu-item,
 .menu-open-button {
    background:rgb(66, 65, 65);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    
 }
 
 .menu-open {
    display: none;
 }
 
 .lines {
    width: 25px;
    height: 2px;
    background: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;  
    transition: transform 200ms;
    
 }
 
 .line-1 {
    /* -webkit-transform: translate3d(0, -8px, 0); */
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    /* -webkit-transform: translate3d(0, 0, 0); */
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    /* -webkit-transform: translate3d(0, 8px, 0); */
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    /* -webkit-transform: translate3d(0, 0, 0) rotate(45deg); */
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    /* -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1); */
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    /* -webkit-transform: translate3d(0, 0, 0) rotate(-45deg); */
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
 
 .menu {
    margin-left: 2%;
    position: absolute;
    top:13px;
    width: 20px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
 }
 
 
 /* .menu-item {
    transition: all 0.1s ease 0s;
 } */
 
 .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
 }
 
 .menu-item:nth-child(3) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(4) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(5) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(6) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(7) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(8) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(9) {
    /* -webkit-transition-duration: 180ms; */
    transition-duration: 180ms;
 }
 
 .menu-open-button {
    z-index: 2;
    /* -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* -webkit-transition-duration: 400ms; */
    transition-duration: 400ms;
    /* -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0); */
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    /* box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); */
 }
 
 .menu-open-button:hover {
    /* -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0); */
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
 
 .menu-open:checked + .menu-open-button {
    /* -webkit-transition-timing-function: linear; */
    transition-timing-function: linear;
    /* -webkit-transition-duration: 200ms; */
    transition-duration: 200ms;
    /* -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0); */
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }
 
 .menu-open:checked ~ .menu-item {
    /* -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); */
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    /* -webkit-transition-duration: 180ms; */
    /* -webkit-transform: translate3d(0.08361px, -104.99997px, 0); */
    transform: translate3d(5px, -60px, 0) ;
 }
 
 .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    /* -webkit-transition-duration: 280ms; */
    /* -webkit-transform: translate3d(90.9466px, -52.47586px, 0); */
    transform: translate3d(65px, -60px, 0) ;
 }
 
 .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    /* -webkit-transition-duration: 380ms; */
    /* -webkit-transform: translate3d(90.9466px, 52.47586px, 0); */
    transform: translate3d(125px, -60px, 0) ;
 }
 
 .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    /* -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0); */
    transform: translate3d(185px, -60px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    /* -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0); */
    transform: translate3d(245px, -60px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    /* -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0); */
    transform: translate3d(305px, -60px, 0);
 }
 
 /* .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(360px, -60px, 0);
 }
  */
 .blue {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .blue:hover {
    color: #669AE1;
    text-shadow: none;
 }
 
 .green {
    background-color: #70CC72;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .green:hover {
    color: #70CC72;
    text-shadow: none;
 }
 
 .red {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .red:hover {
    color: #FE4365;
    text-shadow: none;
 }
 
 .purple {
    background-color: #C49CDE;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .purple:hover {
    color: #C49CDE;
    text-shadow: none;
 }
 
 .orange {
    background-color: #FC913A;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .orange:hover {
    color: #FC913A;
    text-shadow: none;
 }
 
 .lightblue {
    background-color: #62C2E4;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .lightblue:hover {
    color: #62C2E4;
    text-shadow: none;
 }
 
 .credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
 }
 
 .credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
 }
 
 .credit a:hover {
    text-decoration: underline;
 }


/*--------------------------------------------------------------------------------
*/
.inputbox{
    position: absolute;
    background-color: rgb(71, 70, 70);
    /* margin-top: 10px;
    margin-left: 4%; */
    /* height: 70%;
    width: 60%; */
    /* border:none; */
    /* border-radius: 20px; */
    color: white;
    height: 36px;
    width: 200px;
    margin-top: 1%;
    margin-left: 20%;
    border:none;
    border-radius: 13px;
    margin-top: 2.5%;
    font-size: 16px;
}

.sendbtn{
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
    border-width: 0;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    /* margin-top: 3.5%; */
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 80px;
    width: 140px;
    /* margin-left: 50px; */
    position:absolute;
    width: 75px;
    height: 40px;
    margin-left: 78%;
    margin-top: 2.8%;
    font-weight: 700;
}

#msg .txt{
    max-width: 65%;
    min-width: 5%;
    background-color: rgb(73, 155, 223);
    width: fit-content;
    color: black;
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2),0 0 1rem rgba(0, 0, 0, 0.2); */
    margin-left: 65px;
    margin-top: 0px;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height: 18px;
}
p{
    margin-left: 4px;
    margin-top: 0.5px;
    margin-bottom: 1px;
    margin-right: 2px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
.txtself p{
    margin-right: 4px;
    margin-top: 0.5px;
    margin-bottom: 1px;
    margin-right: 2px;
    text-align: left;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.txt p::after {
	content: '  ';
	position: absolute;
	left: 0;
	top: 13px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: rgb(73, 155, 223);
	border-left: 0;
	margin-top: -6px;
	margin-left: -6px; 
} 

#msg .seperator{
    width: 100%;
    height: 10px;
    float: left;
}
#msg .icon{
    width: 45px;
    height: 45px;
    margin-top: 12px;
    position:absolute;
    left: 5px;
    top:5px;
    margin-left: 1%;
}
#msg .icon img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.info{
    position: relative;
    color: white;
    font-size: 10px;
    padding-top: 15px;
    font-family:sans-serif;
    color: wheat;
    max-height: 14px;
    width: 100%;
    margin-bottom: 3px;
}
.username{
    margin-left: 63px;
    font-size: 10px;
}
.usernameself{
    margin-left: 63px;
    font-size: 10px;
}

.time{
    color: white;
    font-size: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 8px;
    font-family:sans-serif;
    color: gray;
    text-align: center;
}
.box{
    position: relative;
    width: 100%;
    margin-top: 1%;
}
.seperator{
    margin-bottom: 1%;
}
/* self */
#msg .txtself{
    max-width: 65%;
    min-width: 5%;
    background-color: rgb(89, 177, 105);
    width: fit-content;
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 65px;
    margin-top: 0px;
    min-height: 18px;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.loader{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25px;
    top: 5px;
    -webkit-animation: gogogo 5s infinite linear;
    
}

@keyframes gogogo {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.infoself{
    color: white;
    font-size: 12px;
    margin-right: 3%;
    text-align: right;
    margin-right: 65px;
    padding-top :15px;
    font-family:sans-serif;
    color: wheat;
    max-height: 14px; 
    position: relative;
    margin-bottom: 3px;
}
#msg .iconself{
    position:absolute;
    right: 5px;
    top:5px;
    width: 45px;
    height: 45px;
    margin-top: 12px;
    margin-right: 1%;
}
#msg .iconself img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.txtself p::after {
	content: '  ';
	position: absolute;
	right: 0;
	top: 13px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: rgb(89, 177, 105);
	border-right: 0;
	margin-top: -6px;
	margin-right: -6px;
} 


.ptr--ptr{
    position: fixed;
    margin-top: 18%;
    color: white;
}
.ptr--pull{
    position: fixed;
    margin-top: 18%;
    color: white;
}
.ptr--release{
    position: fixed;
    margin-top: 18%;
}
.ptr--text{
    color: white;
}
.ptr--icon{
    color: white;
}